.common-wrapper {
  box-shadow: 0px 0 5px 5px #ddd;
  margin: 20px auto;
  padding: 1px;
  // overflow: hidden;
}
*,
*::before,
*::after {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}
html {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  position: relative;
}
li {
  list-style: none;
}
ul, p {
  margin: 0;
  padding: 0;
}
.header {
  height: 60px;
}
.header-tools {
  cursor: pointer;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

.header-wechat {
  position: relative;
  .wechat-group {
    top: 50px;
    right: 0;
    position: absolute;
    width: 200px;
    display: none;
  }
  &:hover {
    .wechat-group {
      display: block;
    }
  }
}

.bottom {
  height: 60px;
  text-align: center;
}

.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s;
}

.button-primary {
  background-color: #1B9AF7;
  border-color: #1B9AF7;
  color: #FFF;
  &:hover {
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: #FFF;
  }
}


.button-large {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
}


.main-btn {
  width: 200px;
  display: block;
  padding: 0;
  margin: 20px auto;
}

.main-container {
  width: 400px;
  height: 600px;
  .common-wrapper;
}

.detail-container {
  .common-wrapper;
  width: 740px;
  padding: 20px 40px;
}

.tip-container {
  .common-wrapper;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 240px;
  height: 300px;
}

.main-body {
  margin-top: 220px;
}

.main-title {
  font-size: 24px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #333;
}

.main-path {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.main-tip {
  text-align: center;
  font-size: 14px;
  color: #6b6b6b;
}

.scanner-dir {
  margin: 20px 30px;
  text-align: center;
  &__label {
    width: 80px;
  }
  &__value {
    color: #717171;
  }
  &__computed {
    color: #717171;
  }
}

.detail-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  &__info {
    width: 460px;
    font-size: 30px;
    span {
      vertical-align: middle;
    }
    button {
      margin-left: 10px;
    }
  }
}

.detail-list {
  margin-top: 10px;
  li {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__name {
    margin-left: 10px;
    color: #000;
  }
  &__desc {
    color: #6b6b6b;
    margin-left: 10px;
  }
  &__info {
    margin-left: 5px;
    cursor: pointer;
  }
  &__status {
    color: rgba(107, 107, 107, 0.75);
    margin-right: 10px;
  }
}

.detail-title {
  &__name {
    margin-left: 10px;
    color: #1B9AF7;
  }
  &__select {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    span {
      margin-left: 5px;
      color: #f4c67a;
    }
  }
}

.tip-p {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.my-pay {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-pay-btn {
  width: 60px;
  height: 60px;
  color: #fff;
  background: #ea6f5a;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
}

.my-pay-type {
  display: none;
  width: 480px;
  margin: 0 auto;
}

.my-pay-div {
  width: 200px;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  float: left;
  background-size: 200px 300px;
  background-repeat: no-repeat;
}

.my-pay-alipay {
  background-image: url('http://picture-hyf.oss-cn-beijing.aliyuncs.com/IMG_2007.JPG');
  background-position: 0 -59px;
}

.my-pay-weixin {
  background-image: url('http://picture-hyf.oss-cn-beijing.aliyuncs.com/IMG_2006.JPG');
  background-position: 0 0px;
}